rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth != null;
    }

    function myRole() {
      return firestore.get(/databases/(default)/documents/user_profiles/$(request.auth.uid)).data.role;
    }

    function isSuperAdmin() {
      return isAuth() && myRole() == 'SUPER_ADMIN';
    }

    function isTrainingProvider() {
      return isAuth() && myRole() == 'TRAINING_PROVIDER';
    }

    function isFleet() {
      return isAuth() && myRole() == 'FLEET';
    }

    function isFireDetection() {
      return isAuth() && myRole() == 'FIRE_DETECTION';
    }

    function isFireExtinguisher() {
      return isAuth() && myRole() == 'FIRE_EXTINGUISHER';
    }

    match /certificates/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isSuperAdmin() || isTrainingProvider();
    }

    match /organizations/logos/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isSuperAdmin();
    }

    match /fleet_vehicles/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isSuperAdmin() || isFleet();
    }

    match /fd_inspections/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isSuperAdmin() || isFireDetection();
    }

    match /panel_inspections/{allPaths=**} {
      allow read: if isAuth();
      allow write: if isSuperAdmin() || isFireDetection();
    }
  }
}
